block meta
	meta(charset="utf-8")
	meta(name="author" content=author)
	meta(name="description" content=description)
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title= pageTitle
block links
	link(rel="preload" href="css/style.min.css" as="style")
	link(rel="preload" href="js/script.js" as="script")
	link(rel="preload" href="fonts/opensans.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/opensansbold.woff2" as="font" type="font/woff2" crossorigin)
	if (activeLink === 'index.html')
		link(rel="preload" href="img/decor/topic-bg-mob.jpg" as="image" media="(max-width: 767.9px)"
			imagesrcset="img/decor/topic-bg-mob.jpg 1x, img/decor/topic-bg-mob@2x.jpg 2x")
		link(rel="preload" href="img/decor/topic-bg-tab.jpg" as="image" media="(min-width: 768px)"
			imagesrcset="img/decor/topic-bg-tab.jpg 1x, img/decor/topic-bg-tabmob@2x.jpg 2x")

	link(rel="icon" href="favicon.ico" type="image/x-icon")
	link(rel="icon" href="img/favicons/icon.svg" type="image/svg+xml")
	link(rel="apple-touch-icon" href="img/favicons/apple.png")
	link(rel="manifest" href="manifest.webmanifest")
	link(rel="stylesheet" href="css/style.min.css")
