//------------ Icon SVG ------------ //

mixin icon(name, width, height, title, mod)
	if(mod)
		svg(class="icon-" + name + ' ' + mod width=width height=height)
			title= title
			use(xlink:href="img/sprite.svg#" + name)
	else
		svg(class="icon-" + name width=width height=height)
			title= title
			use(xlink:href="img/sprite.svg#" + name)

//------------ Picture ------------ //

mixin picture(breadcrumbs, n, type, tab, desk, path, name_dsk, name_tab, name_mob, width_mob, height_mob, loading, alt_name)
	picture
		//- if(n === 3)
		//- 	source(
		//- 		media="(min-width: " + desk + ")"
		//- 		srcset=breadcrumbs + "img/webp/" + path + name_dsk + ".webp"
		//- 		type="image/webp")
		//- if(n === 2 || n <= 3 && n > 1)
		//- 	source(
		//- 		media="(min-width: " + tab + ")"
		//- 		srcset=breadcrumbs + "img/webp/" + path + name_tab + ".webp"
		//- 		type="image/webp")
		//- if(n === 1 || n <= 3)
		//- 	source(
		//- 		srcset=breadcrumbs + "img/webp/" + path + name_mob + ".webp"
		//- 		type="image/webp")
		if(n === 3)
			source(
				media="(min-width: " + desk + ")"
				srcset=breadcrumbs + "img/" + path + name_dsk + "." + type)
		if(n === 2 || n <= 3 && n > 1)
			source(
				media="(min-width: " + tab + ")"
				srcset=breadcrumbs + "img/" + path + name_tab + "." + type)
		if(n === 1 || n <= 3)
			img(
				src=breadcrumbs + "img/" + path + name_mob + "." + type
				width=width_mob
				height=height_mob
        loading=loading
				alt=alt_name)

mixin picture2x(breadcrumbs, n, type, tab, desk, path, name_dsk, name_tab, name_mob, width_mob, height_mob, loading, alt_name)
	picture
		if(n === 3)
			source(
				media="(min-width: " + desk + ")"
				srcset=
					breadcrumbs + "img/webp/" + path + name_dsk + ".webp 1x," +
					breadcrumbs + "img/webp/" + path + name_dsk + "@2x.webp 2x"
				type="image/webp")
		if(n === 2 || n <= 3 && n > 1)
			source(
				media="(min-width: " + tab + ")"
				srcset=
					breadcrumbs + "img/webp/" + path + name_tab + ".webp 1x," +
					breadcrumbs + "img/webp/" + path + name_tab + "@2x.webp 2x"
				type="image/webp")
		if(n === 1 || n <= 3)
			source(
				srcset=
					breadcrumbs + "img/webp/" + path + name_mob + ".webp 1x," +
					breadcrumbs + "img/webp/" + path + name_mob + "@2x.webp 2x"
				type="image/webp")
		if(n === 3)
			source(
				media="(min-width: " + desk + ")"
				srcset=
					breadcrumbs + "img/" + path + name_dsk + "." + type + " 1x," +
					breadcrumbs + "img/" + path + name_dsk + "@2x" + "." + type + " 2x")
		if(n === 2 || n <= 3 && n > 1)
			source(
				media="(min-width: " + tab + ")"
				srcset=
					breadcrumbs + "img/" + path + name_tab + "." + type + " 1x," +
					breadcrumbs + "img/" + path + name_tab + "@2x" + "." + type + " 2x")
		if(n === 1 || n <= 3)
			img(
				src=breadcrumbs + "img/" + path + name_mob + "." + type
				srcset=breadcrumbs + "img/" + path + name_mob + "@2x." + type + " 2x"
				width=width_mob
				height=height_mob
        loading=loading
				alt=alt_name)
